<div class="container">
    <nav class="pull-left">
        <ul>
            <li class="active">
                <a href="#">Home</a>
            </li>
            <li>
                <a href="{{ 'info/presentation'|page }}">The Project</a>
            </li>
            <li>
                <a href="{{ 'forum'|page }}">Forum</a>
            </li>
            <li>
                <a href="{{ 'blog'|page }}">Blog</a>
            </li>
            <li>
                <a href="{{ 'info/contact'|page }}">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="social-btns pull-right">
        <a href="http://vimeo.com/cnes"><div class="fui-vimeo"></div><div class="fui-vimeo"></div></a>
        <a href="https://www.facebook.com/Calisphair.CNES"><div class="fui-facebook"></div><div class="fui-facebook"></div></a>
        <a href="#"><div class="fui-twitter"></div><div class="fui-twitter"></div></a>
    </div>
    <div class="additional-links">
        Be sure to take a look to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
    </div>
</div>

